<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="navbar-brand" style="background: none; width: 100%" id="logo" title="open interface project" src="/assets/img/kiali-title.svg" href="/"/>
            </div>
            <div class="navbar-collapse navbar-collapse-pf-site collapse">
                {% include navigation.html %}
            </div>
        </div>
    </nav>
</header>
