<nav class="main-nav">
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a
               {% if item.blank %}
                 href="{{ item.link }}" target="_blank"
               {% else %}
                 href="{{site.url}}{{ item.link }}"
               {% endif %}
               {% if item.link == page.url %}class="active"{% endif %}
               {% if item.highlight %}style="font-weight: bold"{% endif %}
            >
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>